.DS_Store
Thumbs.db
db.json
*.log
node_modules
dist
foundswatch.sublime-*
package-lock.json
website/.htaccess
website/favicon.gif
website/favicon.svg
website/favicon.ico
website/img
website/inc/index.php
website/css
website/js
website/themes/*/
website/_*
website/fonts/index.php
